.blog-list {

	.blog-list-item {
		@include span-columns(12);
		margin-bottom: $base * 2;

		
		.post-teaser {
			padding: $base;
		}
	}

	.blog-list-item:hover {
		//background: $red;
		color: $white;
		//opacity: 0.85;

		.button {
			background: $red;
		}
		.button:hover {
			background: $white;
			color: $red;
		}
	}
}

.blog-post {

	.text-column {
		@include shift(2);
	}

	h1, .splash {
		margin-bottom: $base;
		margin-left: -25%;
		width: 150%;
		text-align: center;
	}

	em {
		margin-bottom: $base;
		display: block;
		text-align: center;
	}

	p:first-of-type {
		font-size: $base;
		line-height: $base * 2;
	}

	img { 
		position: relative; 
		display: block;
		margin: 0 auto;
	}
}


// fun CTA trick

.hero-cookie {
	border-bottom: none;
	background: url(/images/wayne/ws-pdf-teaser3.png) no-repeat 322px 74px;
	-webkit-transition:background-position 0.3s ease;
	transition:background-position 0.3s ease;
}

.hero-cookie:hover {
	background-position: 322px  -50px;

	h1, .logo {
		opacity: 0.1;
	}
}