.blog-list {

	.blog-list-item {
		@include span-columns(12);
		margin-bottom: $base * 2;

		
		.post-teaser {
			//@include span-columns(5 of 12);
			padding: $base;
		}

		.post-image {
			//@include span-columns(7 of 12);
		}

	}

	.blog-list-item:hover {
		//background: $red;
		color: $white;
		//opacity: 0.85;

		.button {
			background: $red;
		}
	}
}

.blog-post {

	.text-column {
		@include shift(3);
	}

	img {
		width: 150%;
		margin-left: -25%;
	}
}


// fun CTA trick

.blog header {
	background: url(/images/wayne/ws-pdf-teaser3.png) no-repeat 322px 74px;
}

.blog header:hover {
	background-position-y: -50px;

	h1, .logo {
		opacity: 0.1;
	}
}