.wayne {
	header {
		@include outer-container;
		border-bottom: $border;
		padding-bottom: 0;
		background: url(/images/wayne/ws-pdf-teaser3.png) no-repeat 322px 74px;

		.logo {
			margin-bottom: $base;
		}

		.buy-now {
			@include span-columns(7);

			hgroup {
				margin-bottom: $base;
				width: 100%;
			}
			.button-col {
				width: 45%;	
				display: block;
				float: left;
				margin-right: 5%;
			}
		}

		.wayne-hero-image {
			@include span-columns(5);
			margin-top: -168px;
		}
	}

	.pricing {
		.pricing-item {
			@include span-columns(6);
			padding: ($base * 2);

			ul {
				list-style: none;
			}

		}

		.pricing-item-gold {
			background: $gold;
		}

		.pricing-item-red {
			background: $red;
		}

		h2 {
			text-align: center;
		}
	}
}