.logo {
	display: block;
	margin: 0 auto;
	height: $base * 7;
}

header {
	position: relative;
	
	.wayne-hero-image {
		margin-top: -83px;
		margin-bottom: $base * -1;
	}

	aside {
		margin-top: $base;

		.h4 {
			margin-bottom: 0;
		}
	}

	// single cta
	.schedule-thumb {
		@include transform(rotate(7deg));
	}
}


.video-overlay {
	.play-button {
		@include transform(scale(1.5));
		@include transition (all 0.1s ease-in-out);
	}
}

.video-overlay:hover {
	.play-button {
		@include transform(scale(1.75));
	}
}