body {
	padding: $base;
}

.logo {
	height: $base * 7;
	margin: 0 auto;
	display: block;
}

header {
	@include outer-container;
	padding-bottom: $base;
	border-bottom: $border;

	hgroup {
		@include span-columns(4);

		.with {
			@include transform(rotate(-90deg));
			margin-top: $base * 1.5;
			float: left;
		}

		.topic {
			position: relative;
		}

		b {
			font-size: 114px;
			position: absolute; 
			top: 21px;
			left: 97px;
			color: rgba($darkgray, 0.5); //rgba($black, 0.4);
			z-index: -10;
			
		}

		.video-cta {
			width: 200px; 
			margin: $base 0;
			height: $base * 5;
			background: $black;
			position: relative;
			display: block;
			transition: 0.5s;
		}
		
		.play-button:before {
			//circle 
			position: absolute;
			top: $base;
			left: 67px;
		}

		.play-button:after {
			// play arrow
			top: 39px;
			left: 92px;
		}

		.video-cta:hover {
			@include transform(scale(1.2));
			background: $red;
		}

		.video-cta:hover:before {
			background: $white;
		}

		.video-cta:hover:after {
			border-left-color: $red;
		}


		.simmonds, 
		.video-cta, 
		.watch {
			margin-left: 64px;
		}
	}

	.wayne-hero-image {
		@include span-columns(5);
		display: block;
		margin-top: -100px;
		margin-bottom: $base * -1;
		margin-left: $base * -2;
		position: relative;
		z-index: 100;
	}

	aside {
		@include span-columns(3);
		margin-top: $base * 2;
		margin-left: $base * 2;

		.h4 {
			margin-bottom: 0;
		}
	}
}


.video-overlay {
	.play-button {
		@include transform(scale(1.5));
	}
}

section {
	@include outer-container;
}

.cta-container {
	border-bottom: $border;
}

