.wayne-formula {
	background: url(/images/wayne/wayne-simmonds-hockey.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}