		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="http://popcornjs.org/code/dist/popcorn-complete.min.js"></script>
		<script src="/js/scripts.js"></script>

		<!-- BEGIN FOXYCART FILES -->
		<link rel="stylesheet" href="//cdn.foxycart.com/static/scripts/colorbox/1.3.23/style1_fc/colorbox.css?ver=1" type="text/css" media="screen" charset="utf-8" />
		<script src="//cdn.foxycart.com/your-legacy/foxycart.colorbox.js?ver=2" type="text/javascript" charset="utf-8"></script>
		<!-- END FOXYCART FILES -->

		<!-- BEGIN AddThis -->
		<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52722e6a62a5a699"></script>
		<!-- END AddThis -->
				
    </body>
</html>