.centered-container {
	text-align: center;	
}

// The ghost, nudged to maintain perfect centering
.centered-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em; // Adjusts for spacing
}

// The element to be centered, can also be of any width and height
.centered {
	display: inline-block;
	vertical-align: middle;
}
