// reset 
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// disable fluidity
.wrapper {
  min-width: 1100 + ($base * 4);
}
.grid {
  width: 1100px;
  margin: 0 auto;
}


// position
.wrapper, .grid, [class^="g-"], [class*=" g-"] {
  position: relative;
}


// clearfix
.grid:after {
  display: table;
  clear: both;
  content: "";
}


// float columns
[class^="g-"], [class*=" g-"] {
  float: left;
}

// column widths
$grid-columns: 12;
$grid-multiplier: 100% / $grid-columns;

@for $i from 1 through $grid-columns {
  .g-#{$i} {
    width: ($i * $grid-multiplier);
  }
}


// gutters
[class^="g-"], [class*=" g-"], .wrapper, .pad {
  padding: $base;
}


// helper classes
.block {
  display: block;
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.g-center {
  display: block;
  float: none;
  margin-right: auto;
  margin-left: auto;
}

.g-right {
  float: right;
}

.hide {
  display: none !important;
}