// Default Positions

header, section, article {
	position: relative;
}

section {
	@include outer-container;
	margin: $base auto;
}

.block {
	display: block;
}


// Grid 
.span-1 {
	@include span-columns(1);
}

.span-2 {
	@include span-columns(2);
}

.span-3 {
	@include span-columns(3);
}

.span-4 {
	@include span-columns(4);
}

.span-5 {
	@include span-columns(5);
}

.span-6 {
	@include span-columns(6);
}

.span-7 {
	@include span-columns(7);
}

.span-8 {
	@include span-columns(8);
}

.span-9 {
	@include span-columns(9);
}

.span-10 {
	@include span-columns(10);
}

.span-11 {
	@include span-columns(11);
}

.span-12 {
	@include span-columns(12);
}

.inc-pad {
	@include pad(); 
}

.table {
	@include row(table);
}

.table-reset {
	@include reset-display;
}

.omega {
	@include omega();
}

.shift-3 {
	@include shift(3);
}

.span-33,
.span-66 {
	display: block;
	float: left;
}

.span-33 {
	width: 33.33333333%;
}

.span-66 {
	width: 66.66666666%;
}

.span-100 {
	width: 100%;
}

