// padding
.pad-xl {
  padding: $base * 3;
}

.pad {
	padding: $base;
}

.pad-0 {
  padding: 0;
}

.pad-top-0 {
  padding-top: 0 !important;
}

.pad-bottom-0 {
  padding-bottom: 0 !important;
}

.pad-left-0 {
  padding-left: 0 !important;
}

.pad-right-0 {
  padding-right: 0 !important;
}

.pad-button {
  padding: ($base * 0.5) ($base * 2);
}

// margins
.margin-top {
    margin-top: $base !important;
}

.margin-bottom {
    margin-bottom: $base !important;
}

.margin-top-0 {
    margin-top: 0 !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}
