---
layout: default
title: Your Legacy Blog
---

{% include corpus-caput.html %}
{% include membra-nav.html %}

<section class="blog-list block-wrapper">
    
  	{% for post in site.categories.blog reversed %}
    	<a class="blog-list-item block-row bg-black white" href="{{ post.url }}">
    		<div class="post-teaser block-col33">
    			<h2 class="gold">{{ post.title }}</h2>
    			<p class="lightgray">{{ post.excerpt | strip_html | replace: '#', '' | truncate: 350 }}</p>
    			<div class="button bg-purple"><strong>See The Full Article</strong></div>
    		</div>
            <img class="post-image block-col66" src="{{ post.splash }}" alt="{{ page.title }}" />
    	</a>
  	{% endfor %}

</section>
