---
layout: default
title: Your Legacy Blog
---

{% include corpus-caput.html %}
{% include membra-nav-both.html %}

<section class="wrapper pad-bottom-0">
    
  	{% for post in site.categories.blog reversed %}
    <div class="grid bg-black white margin-bottom">
    	<a href="{{ post.url }}">
    		<div class="g-4">
    			<h2 class="gold">{{ post.title }}</h2>
    			<p class="lightgray margin-bottom">{{ post.excerpt | strip_html | replace: '#', '' | truncate: 350 }}</p>
    			<span class="inline-block pad-button bg-purple hover white"><strong>See The Full Article</strong></span>
    		</div>
            <div class="g-8 pad-0">
                <img class="block" src="{{ post.splash }}" alt="{{ page.title }}" />
            </div>
    	</a>
    </div>
  	{% endfor %}

</section>
