{% include atrio-caput.html %}
{% include corpus-caput.html %}
{% include membra-nav-both.html %}

<!-- 
	<section class="article-hero">
		<a class="skip h5 purple" href="#h1">Start Reading</a>
		<img src="/images/articles/Sleeping-Your-Way-to-Success.jpg" alt="Sleeping Your Way to Success"/>
		<h1 class="white" id="h1"><span class="h3">Sleeping Your Way to </span>Success</h1>
	</section>
 -->

<article class="wrapper">

	<div class="grid">
		<div class="g-12 pad-bottom-0">

			<h1 class="center">{{ page.title }}</h1>

			<p class="center margin-bottom"><em>by {{ page.author }}</em></p>

			<img class="block" src="{{ page.splash }}" alt="{{ page.title }}" />
		</div>
	</div>
	<div class="grid">
		<div class="g-8 g-center pad-top-0">
			<p>
				<div class="addthis_toolbox addthis_default_style">
					<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
					<a class="addthis_button_tweet"></a>
					<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				</div>
			</p>

			{{ content }}

			<p>
				<div class="addthis_toolbox addthis_default_style">
					<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
					<a class="addthis_button_tweet"></a>
					<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				</div>
			</p>

		</div>
	</div>

</article>

<div class="wrapper">
	<div class="grid bg-black">
		<div class="g-5 bg-black pad-0">
			<img class="block" src="/images/wayne/free-offers/wayne-simmonds-drew-doughty.jpg" alt="">
		</div>
		<div class="g-7 white">
			<p class="h1">Get Wayne Simmond's Daily Schedule <span class="h2"><span class="amp">&amp;</span> Bonus Gift</span></p>
			<form accept-charset="UTF-8" action="https://ur157.infusionsoft.com/app/form/process/21bc50ac9efdabef76947880ac342e5c" class="infusion-form" method="POST">
			    <input name="inf_form_xid" type="hidden" value="21bc50ac9efdabef76947880ac342e5c" />
			    <input name="inf_form_name" type="hidden" value="Lead Capture FREE offer" />
			    <input name="infusionsoft_version" type="hidden" value="1.29.7.39" />
			    
			    <input class="margin-top block" placeholder="Email" id="inf_field_Email" name="inf_field_Email" type="text" />
				<button class="block bg-purple white hover pad-button" type="submit">Download Now!</button>
			</form>			
		</div>
	</div>
</div>


{% include corpus-pes.html %}
{% include atrio-pes.html %}