article {
	@include outer-container;
		
	.article-hero {
		img {
			width: 100%;
		}

		h1 {
			margin: ($base * -8) $base ($base * 2);
			padding-top: $base;

			span {
				display: block;
			}
		}

		.skip {
			position: relative;
			top: $base;
			z-index: 100;
			display: block;
			margin: 0 auto -98px;
			padding: 28px $base $base;
			width: 98px;
			height: 98px;
			border-radius: 100px;
			background: $white;
			text-align: center;
			text-decoration: none;
		}
	}

	h3, p, ul {
		@include span-columns(6);
	}
	blockquote {
		@include span-columns(12);
	}
}