.bios-container {
	margin-top: $base;
	border-bottom: $border;

	.bio {
		margin-bottom: $base;
	

		img {
			@include span-columns(4);
		}

		.copy {
			@include span-columns(8);
		}
	}

	.bio:after {
		content: '';
		display: block;
		clear: both;
		position: relative;
	}
}