.cta-paper_scatter {

	.page {
		position: absolute;
		right: $base * 2;
		top: 3px;
		width: 200px;
		border: $black 1px solid;
		transition: 0.15s ease;
	}

	.page-1 {
		@include transform(rotate(15deg));
	}
	.page-2 {
		@include transform(rotate(12deg));
	}
	.page-3 {
		@include transform(rotate(9deg));
	}
	.page-4 {
		@include transform(rotate(6deg));
	}
	.page-5 {
		@include transform(rotate(3deg));
	}
	.page-6 {
		//@include transform(rotate(0deg));
	}

}	

a:hover .cta-paper_scatter {

	.page-1 {
		@include transform(rotate(18deg));
		top: $base * 2;
		right: $base * 3;
		z-index: 10;
	}
	.page-2 {
		@include transform(rotate(12deg));
		top: $base * -1.5;
		right: $base * 2.5;
	}
	.page-3 {
		@include transform(rotate(9deg));
		top: $base * 1;
		right: $base * 0.5;
	}
	.page-4 {
		@include transform(rotate(6deg));
		right: $base * 2.25;
	}
	.page-5 {
		@include transform(rotate(3deg));
		top: $base * 1.25;
		right: $base * 5;
	}
	.page-6 {
		@include transform(rotate(6deg));
		right: $base * 3.5;
	}
}