.offer {
	@include linear-gradient(to bottom, $black, lighten($black, 10%));
	display: block; 
	padding: $base * 3;
	background: $black;
}

.booklet {
	@include transform(rotate(-5deg));
	padding: $base $base ($base * 5) $base;
	box-shadow: ($base * 0.5) ($base * 0.5) 0 $darkgray;
	color: $white;

	h3 {
		margin-bottom: $base * 2;
	}

	hr {
		border-color: $white;
	}
}
